@import "../../utils/style/variable";
@import "../../utils/style/layout";
@import "../../utils/style/grid";
@import "../../utils/style/form";
@import "../../utils/style/mixins";

header{position: absolute; top: 0px; left: 0px; height: 160px; right: 0px; overflow: hidden;}
.blank {background: #07003b; height: 24px;}
.customHeaderWrap{background: linear-gradient(to right, #6a3bc9 10%, #1589ee 90%); padding: 10px; color:#ffffff; display:flex;
  .backIcon{display: flex; justify-content: center; align-items: center;}
  .header{ font-size: 18px; font-weight: 600; padding: 0px 6px;}
}
.headerWrap {  /*position: fixed; top: 24px; left: 0;*/ width: 100%; padding:15px 0px;
background: #6a3bc9;
background: linear-gradient(to right, #6a3bc9 10%, #1589ee 90%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a3bc9', endColorstr='#6a3bc9',GradientType=1);
.headerRow { position: relative; display: flex; align-items: center;
        &:first-child { flex-grow: 1;}
    }
    .logo { display: block;
        img { height: 38px; display: block;}
        .logo_white { display: none;}
    }
    .imLogo { display: block; margin-left: 20px; margin-top: 10px;
        img { height: 38px; display: block;}
    }
 
    .transparentOverlay { position: fixed; left: 0; top: 0;  width: 100%; height: 100%; z-index: 1;}
    .locationWrapper {margin-left: 10px;background: #8a1ee2; display: flex;
      width: 84px; height: 32px; text-align: center; justify-content: center; align-items: center;border-radius: 2px;
      i{color: #ffffff;}
       span {font-size: 14px; font-weight: 600; color: #ffffff; padding: 0px 10px; }
    }
    .leftWrapper{display: flex;
      margin-left: auto; background: #07003b; height: 32px;
      width: 70px; border-radius: 2px; justify-content: center; align-items: center; text-align: center;
      span {color: #ffffff; font-size: 12px; font-weight: 600; padding: 15px;}
    }
    .searchWrapper{ background: #ffffff; border-radius: 3px; margin: 20px 16px 0px 16px;
      min-height: 46px; min-width: 328px; display: flex; align-items: start; text-align: left;
     i{color: #31394e; padding: 12px}
     .search {font-size: 16px; color: #31394e; padding: 12px 0px;}
    }
}
  .toolbar__navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 16px;
  }
  
  .toolbar__logo {
    margin-left: 10px;
  }
  
  .toolbar__logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .spacer {
    flex: 1;
  }
  
  .toolbar_navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .toolbar_navigation-items li {
    padding: 0 0.5rem;
  }
  
  .toolbar_navigation-items a {
    color: white;
    text-decoration: none;
  }
  
  .toolbar_navigation-items a:hover,
  .toolbar_navigation-items a:active {
    color: #fa923f;
  }
  
  .toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 18px;
    width: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
  }
  
  .toggle-button:focus {
    outline: none;
  }
  
  .toggle-button__line {
    width: 20px;
    height: 3px;
    background: white;
    border-radius: 8px;
  }
  .backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    z-index: 100;
  }


// @media (max-width: 767px) {
//     .headerWrap{ min-height: 56px; }
//     .helpline-navBlock { display: none; }
// }

// @media (max-width: 768px) {
//     .toolbar_navigation-items {
//       display: none;
//     }
//   }
  
//   @media (min-width: 769px) {
//     .toolbar__toggle-button {
//       display: none;
//     }
  
//     .toolbar__logo {
//       margin-left: 0;
//     }
//   }