.side-drawer {
  height: 100%;
  background: white;
  // box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;

  .userProfile { background: #1589ee; background: -moz-linear-gradient(left,  #6a3bc9 9%, #1589ee 90%); 
              background: -webkit-linear-gradient(left,  #6a3bc9 9%,#1589ee 90%); 
              background: linear-gradient(to right,  #6a3bc9 1%,#1589ee 95%);
              display: flex; flex-direction: column; padding: 5px 10px; box-shadow: 0 2px 4px 0 rgba(99, 99, 99, 0.2); height: 110px;
              .edit{ font-size: 14px; font-weight: 600;color: #ffffff; font-style: unset; float: right; margin-left: auto; margin-right:6px; }
              .profileName {margin: 8px 0px; font-size: 16px; font-weight: 600; color: #ffffff;}
              }
  }

.side-drawer.open {
  transform: translateX(0);
}

.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-drawer li {
  margin: auto 0px; padding: 15px; line-height: 25px; border-bottom: 1px solid #f4f6fc; 
}
.side-drawer li span {font-size: 14px; color: #16325c; font-weight: 600;}

.side-drawer a {
  color: #521751;
  text-decoration: none;
  font-size: 1.2rem;
}

.side-drawer a:hover,
.side-drawer a:active {
  color: #fa923f;
}

@media (min-width: 769px) {
    .side-drawer {
        display: none;
    }
}
